@charset "UTF-8";

head {
	min-width: 1000px;
	height: 50px;
    background: rgb(183, 222, 245);
    background-size: cover;
    background-attachment: fixed;

}

.header {
	margin:10px 0 10px 0;
	
}

body {
	margin-top:20px;
    min-width: 1000px;
    background: url(背景.png)center / cover;
    background-size: cover;
    background-attachment: fixed;
}


input:focus, select:focus, textarea:focus {
background-color: red;
}

.container {
	display: flex;
	align-content: stretch;
}


.btn,
a.btn,
button.btn {
	margin: 10px;
	padding: 100px;
	height: 130px;
	width: 100%;
	box-shadow: 2px 2px 4px;

  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 1rem;
}



/*ボタンをふわっと入れるためのs処理==================================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.delay-time02{
animation-delay: 0.2s;
}

.delay-time03{
animation-delay: 0.3s;
}

.delay-time04{
animation-delay: 0.4s;
}

/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/

.box{
	opacity: 0;
}

/*==================================================
ふわっ
===================================*/

.fadeUp {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*ここまで==================================================*/








/*リボン==================================================*/



.ribbon20-wrapper { 
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px ;
  width: 80%;
  font-size: 30px;
  text-align: center;
   box-shadow: 2px 2px 4px;
   background:#e0ffff;
   border-radius: 1rem;
  }
.ribbon20 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: white;
  background: #70c7ff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbon20:before {
  position: absolute;
  content: '';
  top: 0;
  left: -7px;
  border: none;
  height: 38px;
  width: 7px;
  background: #70c7ff;
  border-radius: 5px 0 0 5px;
}
.ribbon20:after {
  position: absolute;
  content: '';
  bottom: -7px;
  left: -5px;
  border: none;
  height: 7px;
  width: 5px;
  background: #4d99ca;
  border-radius: 5px 0 0 5px;
}

/*リボン==================================================*/




/*爆弾==================================================*/


.bomb{
  position: fixed;
  top: 56%;
  left: 50%;

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;

  transform: translate(-50%,-50%) rotate(5deg);
}

.bomb:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;

  background-color: currentColor;
  box-shadow: 0 0 1px 1px black inset;

  transform: translate(-50%,-50%);

  z-index: 1;
}

.bomb:after{
  content: "";
  position: absolute;
  top: 15%;
  left: 8%;

  width: 50%;
  height: 50%;
  border-radius: 45%;
  border: 5px solid transparent;
  border-left: 5px dotted white;

  transform: rotate(30deg);
  box-sizing: border-box;
  z-index: 2;
}

/* 出っ張り */
.bomb .ledge{
  position: absolute;
  left: 50%;

  display: inline-block;
  width: 30%;
  height: 20%;
  border-radius: 15% 15% 100% 100%;
  background-color: currentColor;

  transform: translate(-50%,-25%);

  z-index: 2;
}

/* 導火線 */
.bomb .fuse{
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 99%;
  height: 99%;
  border: 3px solid transparent;
  border-top-color: #D0BAA5;
  border-right-color: #D0BAA5;
  border-radius: 100%;

  box-sizing: border-box;
  transform: translate(-15%,-75%) rotate(-20deg);

  z-index: -1;
}

.bomb .fuse:before,
.bomb .fuse:after{
  content: "＊";
  position: absolute;
  right: -.60em;
  bottom: 0;

  display: inline-block;
  font-size: 1.5em;
}

.bomb .fuse:before{
  color: red;
  transform: translate(-50%,0) rotate(0);

}

.bomb .fuse:after{
  color: orange;
  transform: translate(-50%,0) rotate(30deg);
}

.bomb .dust{
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
}

/* 画面がちらつく場合はshadowの指定数を減らすと良い */
.dust span{
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;

  background-color: blue;
  box-shadow: 
    +30px -30px 0 0 green,
    -30px +30px 0 0 purple,
    +60px +60px 0 0 pink,
    -60px -60px 0 0 red;

  backface-visibility: hidden;
  transform: translate(-50%,-50%) rotate(var(--angle)) translateY(0);

  opacity: 0;
  z-index: 2;
}

.dust span:nth-of-type(1){  --angle: 00deg;  }
.dust span:nth-of-type(2){  --angle: 30deg;  }
.dust span:nth-of-type(3){  --angle: 60deg;  }
.dust span:nth-of-type(4){  --angle: 90deg;  }
.dust span:nth-of-type(5){  --angle: 120deg; }
.dust span:nth-of-type(6){  --angle: 150deg; }
.dust span:nth-of-type(7){  --angle: 180deg; }
.dust span:nth-of-type(8){  --angle: 210deg; }
.dust span:nth-of-type(9){  --angle: 240deg; }
.dust span:nth-of-type(10){ --angle: 270deg; }
.dust span:nth-of-type(11){ --angle: 300deg; }
.dust span:nth-of-type(12){ --angle: 330deg; }

.dust .msg{
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  margin: 0;

  text-shadow: 2px 2px 0 black;
  opacity: 0;

  transform: translate(-50%,-50%);
  z-index: 3; 
}

.orange{
  color: orange;
}

.black{
  color: black;
}

/* animation */
.bomb:before,.bomb:after,
.bomb .ledge{ animation: after_exp 1s 10s steps(1,start) forwards; }

.bomb .fuse{ animation: 
    fuse_anim 10s linear,
    after_exp 1s 10s steps(1,start) forwards; 
}

.bomb .fuse:before{ animation: burning 10s linear; }
.bomb .fuse:after { animation: burning 10s linear reverse;}

.dust span{ animation: explosion 2s 10s linear; }

.dust .msg{ animation: message 2s 10s linear; }

@keyframes fuse_anim{
  49%{
    border-top-color: #D0BAA5;
  }

  50%{
    border-top-color: transparent;
  }

  100%{
    border-top-color: transparent;
    transform: translate(-15%,-75%) rotate(-200deg);
  }
}

@keyframes burning{
  to{
    transform: translate(-50%,0) rotate(360deg);
  }
}

@keyframes explosion{
  from{
    opacity: 1;
    transform: translate(-50%,-50%) rotate(var(--angle)) translateY(50px);
  }

  to{
    opacity: 0;
    transform: translate(-50%,-50%) rotate(var(--angle)) translateY(-200px) scale(.5);
  }
}

/* 爆発後 */
@keyframes after_exp{
  to{
    opacity: 0;
  }
}

@keyframes message{
  from{
    opacity: 1;
  }

  to{
    font-size: 4.5em;
  }
}


/*爆弾==================================================*/




/*Timer==================================================*/
.timer {
	margin: 0 10px 0 10px;
	font-weight: bold;
    font-size: 30px;    
}

#timer {
	font-weight: bold;
    font-size: 90px;
}




/*correc画面t==================================================*/


.stamp1{
  position: fixed;
  top:  30%;
  left: 60% ;
  background: url(correct.png)center / cover;
  display: block;
  width:500px;
  height: 500px;
  z-index: 1;
}

.word {
	z-index: 0;
	font-weight: bold;
	font-size: 20px;
}

/*correct画面==================================================*/


/*incorrec画面t==================================================*/


.stamp2{
  position: fixed;
  top: 30%;
  left: 60%;
  background: url(incorrect.png)center / cover;
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 100%;
}


/*incorrect画面==================================================*/
